@import 'Fonts.css';

.companySignInButton {
    -fx-background-color: #18181A;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-font-family: Visby Round CF Demi Bold;
}

.registrationBtn {
    -fx-font-family: Visby Round CF Demi Bold;
}

.stack-grid-bgColor {
    -fx-background-color:  rgba(0, 0, 0, 0);
}

.quoteLabel {
    -fx-font-family: Chilanka;
}